<!-- <div class="space-y-2 mb-4 w-full p-2">
  <label for="username" class="font-semibold w-24">Nom</label>
  <p-inputgroup class="h-[40px]">
    <p-inputgroup-addon
      class="bg-gray-100 border border-gray-300 border-r-0 h-full"
    >
      <i class="pi pi-user text-gray-600 text-lg"></i>
    </p-inputgroup-addon>
    <input
      pInputText
      [(ngModel)]="currentItem.nom"
      placeholder="Nom"
      name="nom"
      required
      class="w-full h-full outline outline-1 outline-gray-300 focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-transparent px-3"
    />
  </p-inputgroup>
</div> -->
