<footer class="footer absolute bottom-0 w-full">
  <!-- Container -->
  <div class="container-fixed">
    <div
      class="flex flex-col md:flex-row justify-center md:justify-between items-center gap-3 py-5"
    >
      <div
        class="flex gap-2 font-normal text-2sm text-center w-full justify-center"
      >
        <span class="text-gray-500">
          2025© <span class="">Copyright</span> -
        </span>
        <a class="text-gray-600 hover:text-primary" routerLink="/">
          SIG Indicateurs de la section protection de l'enfant
        </a>
      </div>
    </div>

    <!-- <div #containerRef class="container-fixed">
      <div class="relative h-full fixed bottom-0">
        <div class="absolute flex bottom-0 left-0 w-full h-1.5">
          <div class="w-1/3 h-full bg-[green]"></div>
          <div class="w-1/3 h-full bg-[yellow]"></div>
          <div class="w-1/3 h-full bg-[red]"></div>
        </div>
      </div>
    </div> -->
  </div>
  <!-- End of Container -->
</footer>
